{
  "presets": [
    ["es2015", {"modules": false}],
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    ["styled-components", {
      "ssr": true,
      "fileName": false,
      "displayName": true
    }]
  ]
}

