@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900');

html, body {
  background-color: #ecf2f7 !important;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.react-add-to-calendar__button {
  border: none !important;
  background: none !important;
  padding: 10px 3px;
}

/* Title Service Dropdown */
.ServiceSelect .Select-control {
  width: auto;
}
.ServiceSelect.Select:focus {
  outline: none;
}
.ServiceSelect.Select .Select-control,
.ServiceSelect.Select.is-focused .Select-control {
  border: none;
  background: transparent;
  box-shadow: none;
}
.ServiceSelect .Select-control .Select-input:focus {
  background: none;
}
.ServiceSelect.Select .Select-arrow,
.ServiceSelect.Select.is-focused .Select-arrow {
  border-color: #fff transparent transparent;
}
.ServiceSelect.Select.is-focused.is-open .Select-arrow {
  border-color: transparent transparent #999;
}
.ServiceSelect.Select.Select--single.is-focused > .Select-control .Select-value .Select-value-label,
.ServiceSelect.Select.Select--single > .Select-control .Select-value .Select-value-label {
  color: #fff;
}
.ServiceSelect.Select.is-open .Select-control {
  background: #fff;
  border-color: #b3b3b3 #ccc #d9d9d9;
}
.ServiceSelect.Select.is-open.Select--single > .Select-control .Select-value .Select-value-label {
  color: #333;
}
.ServiceSelect .Select-arrow-zone:hover > .Select-arrow {
  border-top-color: #fff;
}
.ServiceSelect.Select.Select--single > .Select-control .Select-value {
  position: static;
}
.ServiceSelect .Select-input {
  position: absolute;
  left: -1000em;
  top: -1000em;
}

@media print {
  @page {
    size: A4 landscape;
    margin: 7mm;
    zoom: 100%;
  }
  body {
    zoom: 100%;;
    transform: scale(1);
  }
  table {
    page-break-inside: avoid;
  }
  html, body {
    background-color: #fff !important;
  }
  .react-add-to-calendar {
    display: none;
  }
  #_hj_feedback_container {
    display: none;
  }
}
