language: node_js
node_js:
- 8.9
cache:
  directories:
  - node_modules
  - client/node_modules
addons:
  ssh_known_hosts:
  - 54.206.106.116
  - 13.210.76.160
services:
- mysql
before_script:
- yarn db-create
- yarn db-migrate
script:
- yarn test
- yarn test:frontend
- |
  if [ $TRAVIS_BRANCH == 'qa' ]; then
    cd client && yarn && REACT_APP_ENV=qa yarn build && cd ..;
  else
    cd client && yarn && yarn build && cd ..;
  fi
before_deploy:
- mkdir -p ~/.ssh/key
- openssl aes-256-cbc -K $encrypted_42e0c1fefb4c_key -iv $encrypted_42e0c1fefb4c_iv
  -in deploy_rsa.enc -out ~/.ssh/key/efcsydney.pem -d
- eval "$(ssh-agent -s)"
- chmod 400 ~/.ssh/key/efcsydney.pem
deploy:
- provider: script
  skip_cleanup: true
  script: sh -x deploy.sh qa
  on:
    branch: qa
- provider: script
  skip_cleanup: true
  script: sh -x deploy.sh prod
  on:
    branch: master
notifications:
  slack:
    rooms:
      secure: iGVs0vWaQh/7YkhxNUHpffnry6b8xIc9AUP0/4FBb3g5qFmE2VGu6bhfDDI9apRvPtZT+tCcIcOYSe2eWI/ELZ17/3HnB02R1crifPiLU7ZETo1WwVrIqGetAGHqBJYZvSZELvVJtZMc2phoehAh8pCYScf1alvH7GmeQLW7a2Knr/kiV0WkIYjGhE8xG7sBakkCUx6V3tF0O9+6VJvEUWVKB/dEUvxMPc3Qte+9F9Mj5Tf9OEHmcWNSGaPK+xvXxqrfM/cLJQCUAajHUV0OA4A6o8W9yCRZevLaBBV+/cV6uBX+UnviwzaRZGjqlmTSlvdnaFEIN3g6W+1W3ig3BJka6ujHFwqxLa0jmFRnXGZpiaQqyeDqLcuua6OdXNtCUaVc0gigfXlNTlmZXpsbMJbuzSecK8kGk0izCWg/UYeeYmWy2SY2lpCgt5BoJbskB/7WtszQhO5+GEW9fh3sLVQsrzpoY95n8qXgUzx9ucmwhhEQKAOJyjWDpXPSMJugaEbWC0KLdgFjxOqSDXZf/++m6eD+I/kowpwkXDi1mWncNupbgUpocndmClQfGCcasZP9PIX9Fg81U+5/sWNy/gtK9Hoi6jqUFE+REBXohPAjwUIKVwrfxjm+PqAWkegmmCqyT2JDeXYIxLtnqFRY7lRWc/OpU059l0S0AsNKu14=
