version: "3"
services:
  db:
    image: mysql:5.7.21
    restart: always
    ports:
      - "3306:3306"
    environment:
        MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
        MYSQL_USER: "user"
        MYSQL_PASSWORD: "password"
        MYSQL_DATABASE: "efcRoster"

  efc-dev:
    image: efc-roster:develop
    build:
      context: ../
      dockerfile: docker/Dockerfile-dev
    links:
        - db:db
    environment:
        - NODE_ENV=docker
        - REACT_APP_ENV=development
    ports:
      - "80:80"
      - "3000:3000"
      - "3001:3001"
      - "3002:3002"
    volumes:
      - $PWD/../:/opt/efcsydney-roster/

  efc-qa:
    image: kleinchang/efcsydney-roster
    build:
      context: ../
      dockerfile: docker/Dockerfile-prod
    links:
        - db:db
    environment:
        - NODE_ENV=qa
    ports:
      - "80:80"
      - "3001:3001"
      - "3002:3002"
    entrypoint:
      - /bin/bash
      - -x
      - /opt/efcsydney-roster/docker/Entrypoint.sh
      - prod-local

  efc-prod:
    image: kleinchang/efcsydney-roster:$BUILD_TAG
    build:
      context: ../
      dockerfile: docker/Dockerfile-prod
    links:
        - db:db
    environment:
        - NODE_ENV=qa
    ports:
      - "80:80"
      - "3001:3001"
      - "3002:3002"
    entrypoint:
      - /bin/bash
      - -x
      - /opt/efcsydney-roster/docker/Entrypoint.sh
      - prod-local
